<html>

<head>
<title>class cancellation</title>
</head>

<body>
 {{.title}}
	<!--header-->
	<header>
		<h1><a href="/">Class Cancellation in Doshisha</a></h1>
		<nav>
			<li><a href="/">Home</a></li>
			<li><a href="/login">Login</a></li>
		</nav>
	</header>
	<div id="content">
		<form method="POST" action="/login">
			<table>
			<tr>
				<td>USERNAME</td>
				<td><input type="text" name="user_name" /></td>
			</tr>
				<td>EMAIL</td>
				<td><input type="text" name="email" /></td>
			</tr>
			<tr>
				<td>PASS</td>
				<td><input type="text" name="user_pass" /></td>
			</tr>	
			</table>

			<input type="submit" value="ログイン" />
		</form>
	</div>
</body>

</html>
